<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" /> 
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/public.css">
	<script type="text/javascript" src="__PUBLIC__/mobile/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mobile/js/public.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="y_header">
		<div class="y_nav_icon">
			<img src="__PUBLIC__/mobile/img/y_nav_icon.png">
		</div>
		<a class="y_title">
			<img src="__PUBLIC__/mobile/img/logo.png">
			<h3>企业联盟云商会</h3>
		</a>
	</div>
	<!-- 侧边栏 -->
	<div class="slide_menu">
		<ul>
			<li>
				<a href="index.html" class="on">
					<span><img src="__PUBLIC__/mobile/img/slide_icon2.png">首页</span>
					<i></i>
				</a>
			</li>
			<li>
				<a href="about.html">
					<span><img src="__PUBLIC__/mobile/img/slide_icon3.png">关于商会</span>
					<i></i>
				</a>
			</li>
			<li>
				<a href="information.html">
					<span><img src="__PUBLIC__/mobile/img/slide_icon4.png">商会资讯</span>
					<i></i>
				</a>
			</li>
			<li>
				<a href="advantage.html">
					<span><img src="__PUBLIC__/mobile/img/slide_icon5.png">加入优势</span>
					<i></i>
				</a>
			</li>
			<li>
				<a href="contact.html">
					<span><img src="__PUBLIC__/mobile/img/slide_icon6.png">联系我们</span>
					<i></i>
				</a>
			</li>
		</ul>
	</div>