<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" /> 
	<title>加入商会</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/join.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/landscape.css">
	<script type="text/javascript" src="__PUBLIC__/mobile/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mobile/js/join.js"></script>
<include file="header" />
	<div class="y_content">
		<!-- company_message -->
		<form class="company_message" onsubmit="return checkForm();" id="userform">
			<h2>
				欢迎您加入企业联盟云商会！</br>填写好以下资料，我们将安排客服专员一对一进行服务。
			</h2>
			<p class="tip">
				
			</p>
			<div id="sex">
				<span>称呼</span>
				<div>
					<label>
						<input type="radio" checked="checked" name="sex" value="1">
						<span>先生</span>
					</label>
					<label>
						<input type="radio" name="sex" value="2">
						<span>女士</span>
					</label>
				</div>
			</div>
			<div class="message_list">
				
				<div id="company_name">
					<span>企业名称</span>
					<input type="text" name="storename" placeholder="4-16位数的企业名称" onblur="check_company_name()"></input>
				</div>
				<div id="user">
					<span>账号</span>
					<input type="text" name="sellername" placeholder="字母开头6-16位数字和英文" onblur="check_user();"></input>
				</div>
				<div id="password">
					<span>密码</span>
					<input type="password" name="password" placeholder="6-16位数字和英文" onblur="check_password();"></input>
				</div>
				<div id="user_name">
					<span>昵称</span>
					<input type="text" name="nickname" placeholder="由字母开头6-16位数字、英文或下划线" onblur="check_user_name();"></input>
				</div>
				<div id="mobile">
					<span>手机号码</span>
					<input type="text" name="username" placeholder="请输入手机号码" onblur="check_telephone();"></input>
				</div>
				<div id="check">
					<span>验证码</span>
					<button class="code">获取验证码</button>
					<input type="text" name="code" placeholder="请输入您的验证码" id="code"></input>

				</div>
			</div>
			<button type="submit" class="submit">提交</button>
		</form>
		<include file="footer" />
</html>
